.header {
    background-color: #fff;
    padding: 15.6px 0 16.4px;
    margin-left: 80px;
}

.header__container {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.header__title {
    font-size: 18px;
    font-weight: 800;
    line-height: 22.59px;
    color: #212121;
}

.header__link_box {
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    color: #B5B5C3;
    display: flex;
    gap: 8px;
}

@media screen and (max-width: 634px) {
    .header {
        margin-left: 0;
    }
}

@media screen and (max-width: 456px) {
    .header {
        padding-left: 20px;
    }
}